<a href="https://colab.research.google.com/github/willsacraa/ciencia_de_dados_aulas/blob/main/Ci%C3%AAncia_de_Dados_Aula_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Dataframe: visualização de dados

Práticas em Ciência de dados - UFBA 2022.2<div>
*by William Sacramento*

Esse material busca trazer alguns comandos iniciais da biblioteca Pandas, relacionados a manipulação do dataframe e geração de gráficos básicos.


*Ref. Gabrielle Desireé*

# Dados utilizados

Apesar de não ser muito comum, hoje vamos criar a nossa base de dados. Com isso, além de conhecer o dataframe e como ele construído.

E em seguida usarei um banco de dados sobre as melhores jogadoras de Vólei do mundo.

# Pandas

[Pandas](https://pandas.pydata.org/) é uma biblioteca uma biblioteca do Python desenvolvida para tratamento e análise de dados. Todos os comandos aqui utilizados são oriundos dessa biblioteca. Por isso a primeira etapa é importá-la usando um apelido altamente utilizado.

In [ ]:
#Importando o Pandas

import pandas as pd #Importando pandas como pd, ou seja, fornecendo um "apelido"
                    #para a biblioteca para facilitar a chamada dos métodos.

# Criando dataframes

> **Dataframe:** <div>
Antes de partir para visualização e acesso aos dados, é importante definir uma palavra que será muito utilizada no processo de análise de dados.<div>
Um **Dataframe** é tipo bidimensional, que diferente de uma matriz, pode conter diversos tipos de dado, é uma espécie de tabela ou uma planilha da sua base de dado, no qual, cada coluna representa uma variável e cada linha um conjunto de observações, um registro.<div>
Por exemplo, num cadastro de usuários, deseja-se armazenar nome, idade e e-mail. Cada coluna deve representar uma variável, e cada linha um registro, ou seja, cada linha representa um usuário.<div>
Além de importados, como demonstrado acima, os dataframes também podem ser criados manualmente.<div>
O Pandas é a bilbioteca responsável pela manipualção desses dataframes, facilitando a utilização dos dados.

Para criação utilização o método **DataFrame** do Pandas.<div>

Deve-se colocar colchetes para iniciar e encerrar a entrada de dados. Uma coluna deve conter um nome, escrito entre aspas, seguido de dois pontos. Logo após, os dados daquela coluna precisam estar separados entre vírgulas. Colchetes abrem e encerram os dados de uma coluna. Para mover para próxima, utiliza-se vírgula para separar.

In [ ]:
exemplo = pd.DataFrame({'Nome' : ["Bruna", "Laio", "William"],
                        'idade' : [22, 21, 21], 
                        'Curso' : ["Eng Quimica", "Eng Quimica", "Eng Quimica"]})


exemplo

      Nome  idade        Curso
0    Bruna     22  Eng Quimica
1     Laio     21  Eng Quimica
2  William     21  Eng Quimica

In [ ]:
exemplo1 = pd.DataFrame({'Nome' : ["John", "Lu", "Zé"],
                        'idade' : [22, 23, 25], 
                        'Curso' : ["Eng Quimica", "Eng Quimica", "Eng Controle"]})

exemplo1

   Nome  idade         Curso
0  John     22   Eng Quimica
1    Lu     23   Eng Quimica
2    Zé     25  Eng Controle

In [ ]:
teste = pd.concat([exemplo, exemplo1],ignore_index= True)
teste

      Nome  idade         Curso
0    Bruna     22   Eng Quimica
1     Laio     21   Eng Quimica
2  William     21   Eng Quimica
3     John     22   Eng Quimica
4       Lu     23   Eng Quimica
5       Zé     25  Eng Controle

# DATASET

Vamos utilizar um dataset que se encontra no Google Drive, para isso vão acessar o link abaixo e fazer o download ou fazer a cópia para o seu Google Drive.<p>
Em seguida faremos a conexão do colab com o Google Drive e "chamaremos" o banco de dados.

# **Exibição do dataframe**<div>
Para exibir os dados no Colab, podemos digitar apenas o nome da variável que contém o dataframe e rodar a célula. Dessa forma, todo o dataframe deve ser exibido, entretanto, é possível que em situações com muitas linhas, a exibição seja abreviada.

Link do banco de dados:

https://docs.google.com/spreadsheets/d/1FDF9c71CeGsholAsu6sbwBnNgqoj_X3p/edit?usp=sharing&ouid=102913998158971928461&rtpof=true&sd=true

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
dados = pd.read_excel("/content/drive/MyDrive/Projeto/Ciência de Dados/2019volleyball.xlsx")

In [ ]:
dados

,Nome,Ranking Geral,Ranking em 2020,Nacionalidade,Posição,Data de Nascimento,Altura (cm),Peso (kg),Salto (cm),Bloqueio (cm),Mão Dominante,Pontos do país,Pontos
0,Ting Zhu,3,23,China,Outside Hitter,1994-11-29,198,78,327,305,Right,320.0,1190.00
1,Macris Carneiro,176,19,Brazil,Setter,1989-03-03,178,68,292,285,NaN,220.0,833.00
2,Gabriela GuimarÃ£es,31,13,Brazil,Outside Hitter,1994-05-19,180,65,305,289,Right,220.0,788.00
3,Tijana BoÅ¡koviÄ,28,3,Serbia,Opposite,1997-03-08,194,84,329,310,Left,252.0,630.50
4,Paola Egonu,134,2,Italy,Opposite,1998-12-18,190,70,336,315,Right,165.0,597.00
5,Bethania De La Cruz,23,25,Dominican Republic,Outside Hitter,1987-05-13,188,68,315,310,Right,108.0,593.60
6,Kelsey Robinson,180,0,USA,Outside Hitter,1992-06-25,188,75,306,300,Right,NaN,573.00
7,Mayu Ishikawa,1601,1668,Japan,Outside Hitter,2000-05-14,173,65,300,290,Right,190.0,553.25
8,Andrea Drews,621,14,USA,Opposite,1993-12-25,191,77,316,312,Left,NaN,540.20
9,Brayelin MartÃ­nez,83,0,Dominican Republic,Outside Hitter,1996-09-11,201,83,330,320,Right,108.0,538.10
10,Simge Åebnem AkÃ¶z,405,4,Turkey,Libero,1991-04-23,168,55,250,245,NaN,72.0,471.00
11,Yingying Li,511,75,China,Outside Hitter,2000-02-19,192,78,312,300,Right,320.0,459.00
12,Melissa Vargas,562,0,Cuba,Opposite,1999-10-16,194,76,320,310,Right,30.0,447.00
13,LÃ©ia Nicolosi,187,19,Brazil,Libero,1985-03-01,168,60,268,257,NaN,220.0,425.50
14,Mara LeÃ£o,229,357,Brazil,Middle-blocker,1991-07-26,192,81,310,297,Right,220.0,425.50
15,Karsta Lowe,718,1081,USA,Opposite,1993-02-02,196,75,315,305,Left,NaN,417.00
16,Jineiry Martinez,677,0,Dominican Republic,Middle-blocker,1997-12-03,190,68,305,280,Right,108.0,416.10
17,Mayany Souza,1211,257,Brazil,Middle-blocker,1996-11-24,185,62,293,282,Right,220.0,405.50
18,TeTori Dixon,329,1081,USA,Middle-blocker,1992-08-04,191,83,306,295,Right,NaN,404.00
19,Irina Koroleva,119,10,Russia,Middle-blocker,1991-10-04,196,78,315,305,Right,208.0,401.20
20,Caroline Gattaz,48,19,Brazil,Middle-blocker,1981-07-27,192,78,315,299,Right,220.0,400.00
21,Ana Carolina Silva,51,6,Brazil,Middle-blocker,1991-04-08,183,73,316,309,Right,220.0,374.50
22,Nataliya Goncharova,34,235,"Russia, Ukraine",Opposite,1989-06-01,196,75,321,310,Right,NaN,373.00
23,Maja OgnjenoviÄ,58,273,Serbia,Setter,1984-08-06,183,68,300,293,Right,252.0,371.00
24,Ebrar Karakurt,459,24,Turkey,Outside Hitter,2000-01-17,194,72,307,305,Right,72.0,368.00
25,Eda Erdem DÃ¼ndar,57,0,Turkey,Middle-blocker,1987-06-22,188,74,315,302,Right,72.0,367.00
26,Samantha Bricio,598,1837,Mexico,Outside Hitter,1994-11-22,188,58,302,283,Right,35.0,360.00
27,Micha Hancock,389,219,USA,Setter,1992-11-10,177,68,289,283,Right,NaN,358.30
28,Yuanyuan Wang,981,75,China,Middle-blocker,1997-07-14,195,75,312,300,Right,320.0,351.00
29,Jordan Larson-Burbach,32,650,USA,Outside Hitter,1986-10-16,186,74,302,295,Right,NaN,345.00

In [ ]:
dados.isna().sum()

Nome                  0
Ranking Geral         0
Ranking em 2020       0
Nacionalidade         0
Posição               0
Data de Nascimento    0
Altura (cm)           0
Peso (kg)             0
Salto (cm)            0
Bloqueio (cm)         0
Mão Dominante         3
Pontos do país        7
Pontos                0
dtype: int64

In [ ]:
dados['Pontos do país'] = dados['Pontos do país'].fillna('0')

In [ ]:
dados

,Nome,Ranking Geral,Ranking em 2020,Nacionalidade,Posição,Data de Nascimento,Altura (cm),Peso (kg),Salto (cm),Bloqueio (cm),Mão Dominante,Pontos do país,Pontos
0,Ting Zhu,3,23,China,Outside Hitter,1994-11-29,198,78,327,305,Right,320.0,1190.00
1,Macris Carneiro,176,19,Brazil,Setter,1989-03-03,178,68,292,285,NaN,220.0,833.00
2,Gabriela GuimarÃ£es,31,13,Brazil,Outside Hitter,1994-05-19,180,65,305,289,Right,220.0,788.00
3,Tijana BoÅ¡koviÄ,28,3,Serbia,Opposite,1997-03-08,194,84,329,310,Left,252.0,630.50
4,Paola Egonu,134,2,Italy,Opposite,1998-12-18,190,70,336,315,Right,165.0,597.00
5,Bethania De La Cruz,23,25,Dominican Republic,Outside Hitter,1987-05-13,188,68,315,310,Right,108.0,593.60
6,Kelsey Robinson,180,0,USA,Outside Hitter,1992-06-25,188,75,306,300,Right,0,573.00
7,Mayu Ishikawa,1601,1668,Japan,Outside Hitter,2000-05-14,173,65,300,290,Right,190.0,553.25
8,Andrea Drews,621,14,USA,Opposite,1993-12-25,191,77,316,312,Left,0,540.20
9,Brayelin MartÃ­nez,83,0,Dominican Republic,Outside Hitter,1996-09-11,201,83,330,320,Right,108.0,538.10
10,Simge Åebnem AkÃ¶z,405,4,Turkey,Libero,1991-04-23,168,55,250,245,NaN,72.0,471.00
11,Yingying Li,511,75,China,Outside Hitter,2000-02-19,192,78,312,300,Right,320.0,459.00
12,Melissa Vargas,562,0,Cuba,Opposite,1999-10-16,194,76,320,310,Right,30.0,447.00
13,LÃ©ia Nicolosi,187,19,Brazil,Libero,1985-03-01,168,60,268,257,NaN,220.0,425.50
14,Mara LeÃ£o,229,357,Brazil,Middle-blocker,1991-07-26,192,81,310,297,Right,220.0,425.50
15,Karsta Lowe,718,1081,USA,Opposite,1993-02-02,196,75,315,305,Left,0,417.00
16,Jineiry Martinez,677,0,Dominican Republic,Middle-blocker,1997-12-03,190,68,305,280,Right,108.0,416.10
17,Mayany Souza,1211,257,Brazil,Middle-blocker,1996-11-24,185,62,293,282,Right,220.0,405.50
18,TeTori Dixon,329,1081,USA,Middle-blocker,1992-08-04,191,83,306,295,Right,0,404.00
19,Irina Koroleva,119,10,Russia,Middle-blocker,1991-10-04,196,78,315,305,Right,208.0,401.20
20,Caroline Gattaz,48,19,Brazil,Middle-blocker,1981-07-27,192,78,315,299,Right,220.0,400.00
21,Ana Carolina Silva,51,6,Brazil,Middle-blocker,1991-04-08,183,73,316,309,Right,220.0,374.50
22,Nataliya Goncharova,34,235,"Russia, Ukraine",Opposite,1989-06-01,196,75,321,310,Right,0,373.00
23,Maja OgnjenoviÄ,58,273,Serbia,Setter,1984-08-06,183,68,300,293,Right,252.0,371.00
24,Ebrar Karakurt,459,24,Turkey,Outside Hitter,2000-01-17,194,72,307,305,Right,72.0,368.00
25,Eda Erdem DÃ¼ndar,57,0,Turkey,Middle-blocker,1987-06-22,188,74,315,302,Right,72.0,367.00
26,Samantha Bricio,598,1837,Mexico,Outside Hitter,1994-11-22,188,58,302,283,Right,35.0,360.00
27,Micha Hancock,389,219,USA,Setter,1992-11-10,177,68,289,283,Right,0,358.30
28,Yuanyuan Wang,981,75,China,Middle-blocker,1997-07-14,195,75,312,300,Right,320.0,351.00
29,Jordan Larson-Burbach,32,650,USA,Outside Hitter,1986-10-16,186,74,302,295,Right,0,345.00

Nem sempre é conveniente exibir todas a linhas da tabela. Como alternativa, pode-se se utilizar **head** e **tail** para limitar a quantidade de colunas exibidas.

 ##  **Head**
Exibe as primeiras linhas que contém dados, ou seja, não conta o cabeçalho com nome da variável. Por padrão, apenas 5 são exibidas, mas é possível alterar, passando a quantidade de linhas como parâmetro.

**Utilização:** <div>

**nome_do_dataframe.head(quantidade_de_linhas)**

Exemplo:
     dados.head(10) <div>

**Parâmetro:**
*  É possível selecionar a quantidade de linhas que será exibida. Caso se deseje utilizar o padrão (5 linhas), não é necessário colocar nada entre pareneteses.<div>

In [ ]:
#Exibindo as 5 primeiras linhas
dados.head()

,Nome,Ranking Geral,Ranking em 2020,Nacionalidade,Posição,Data de Nascimento,Altura (cm),Peso (kg),Salto (cm),Bloqueio (cm),Mão Dominante,Pontos do país,Pontos
0,Ting Zhu,3,23,China,Outside Hitter,1994-11-29,198,78,327,305,Right,320.0,1190.0
1,Macris Carneiro,176,19,Brazil,Setter,1989-03-03,178,68,292,285,NaN,220.0,833.0
2,Gabriela GuimarÃ£es,31,13,Brazil,Outside Hitter,1994-05-19,180,65,305,289,Right,220.0,788.0
3,Tijana BoÅ¡koviÄ,28,3,Serbia,Opposite,1997-03-08,194,84,329,310,Left,252.0,630.5
4,Paola Egonu,134,2,Italy,Opposite,1998-12-18,190,70,336,315,Right,165.0,597.0

## **Tail**<div>
Funciona exatamente como o head, mas exibe as última linhas da tabela.

**Utilização:** <div>

**nome_do_dataframe.tail(quantidade_de_linhas)**

Exemplo:
     dados.tail(3) <div>

**Parâmetro:**
*  É possível selecionar a quantidade de linhas que será exibida. Caso se deseje utilizar o padrão (5 linhas), não é necessário colocar nada entre pareneteses.<div>

In [ ]:
#Exibindo as 5 últimas linhas
dados.tail()

,Nome,Ranking Geral,Ranking em 2020,Nacionalidade,Posição,Data de Nascimento,Altura (cm),Peso (kg),Salto (cm),Bloqueio (cm),Mão Dominante,Pontos do país,Pontos
25,Eda Erdem DÃ¼ndar,57,0,Turkey,Middle-blocker,1987-06-22,188,74,315,302,Right,72.0,367.0
26,Samantha Bricio,598,1837,Mexico,Outside Hitter,1994-11-22,188,58,302,283,Right,35.0,360.0
27,Micha Hancock,389,219,USA,Setter,1992-11-10,177,68,289,283,Right,0,358.3
28,Yuanyuan Wang,981,75,China,Middle-blocker,1997-07-14,195,75,312,300,Right,320.0,351.0
29,Jordan Larson-Burbach,32,650,USA,Outside Hitter,1986-10-16,186,74,302,295,Right,0,345.0

## **Info**<div>
Outro comando relevante é o **.info()**, que permite analisar alguns parâmetros interessantes do conjunto de dados.

**Utilização:** <div>

**nome_do_dataframe.info()**

In [ ]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Nome                30 non-null     object
 1   Ranking Geral       30 non-null     int64
 2   Ranking em 2020     30 non-null     int64
 3   Nacionalidade       30 non-null     object
 4   Posição             30 non-null     object
 5   Data de Nascimento  30 non-null     object
 6   Altura (cm)         30 non-null     int64
 7   Peso (kg)           30 non-null     int64
 8   Salto (cm)          30 non-null     int64
 9   Bloqueio (cm)       30 non-null     int64
 10  Mão Dominante       27 non-null     object
 11  Pontos do país      30 non-null     object
 12  Pontos              30 non-null     float64
dtypes: float64(1), int64(6), object(6)
memory usage: 3.2+ KB

## **Shape**<div>
Permite observar a quantidade de linhas e colunas

**Utilização:** <div>

**nome_do_dataframe.shape()**

O retorno dessa função é uma um par de números que mostram a quantidadde de linhas e colunas do dataframe (linhas, colunas).

In [ ]:
dados.shape

(30, 13)

# **Indexação e acesso**

> **As colunas do dataframe**<div>
Por vezes, faz-se necessário acessar determinada coluna do dataframe. Existem algumas formas de fazer isso. Antes de apresentar essas maneiras é importante dizer que uma coluna é chamdada de **série**.

> **Série:**<div>
Uma série é um array/lista de valores de um mesmo tipo. As séries possuem índices que identificam as linhas, e estão dispostos do lado esquerdo. Como é comum em programação, o primeiro índice é zero e, nesse caso, não inclui o título daquela coluna.

> ## **Acessando colunas do dataframe**<div>
Para acessar uma coluna, podemos usar a forma mais próxima do que há em orientação objeto. Entretanto, isso só é possível se não há separação entre as palavras ou barras, pontos e outros caracteres especiais, com exceção do underline.

**Utilização:** <div>

**nome_do_dataframe.nome_da_coluna**

Exemplo:
     dados.Total

In [ ]:
dados.Posição

0     Outside Hitter
1             Setter
2     Outside Hitter
3           Opposite
4           Opposite
5     Outside Hitter
6     Outside Hitter
7     Outside Hitter
8           Opposite
9     Outside Hitter
10            Libero
11    Outside Hitter
12          Opposite
13            Libero
14    Middle-blocker
15          Opposite
16    Middle-blocker
17    Middle-blocker
18    Middle-blocker
19    Middle-blocker
20    Middle-blocker
21    Middle-blocker
22          Opposite
23            Setter
24    Outside Hitter
25    Middle-blocker
26    Outside Hitter
27            Setter
28    Middle-blocker
29    Outside Hitter
Name: Posição, dtype: object

Vejamos o que acontece ao tentar utilizar essa forma com a coluna 2008/Abr, que possui uma barra no nome:

In [ ]:
dados.Peso (kg)

AttributeError: ignored

Como já previsto, não foi possível acessar a coluna desejada. Uma segunda forma, que vale para qualquer nome de coluna, é utilizando o que é conhecido como dicionário em Python.<div>

Dessa maneira, escreve-se o nome do dataframe seguido do nome da coluna, entre chaves e aspas.

**Utilização:** <div>

**nome_do_dataframe["nome_da_coluna"]**

Exemplo:
     dados["Total"]

In [ ]:
dados["Peso (kg)"]

0     78
1     68
2     65
3     84
4     70
5     68
6     75
7     65
8     77
9     83
10    55
11    78
12    76
13    60
14    81
15    75
16    68
17    62
18    83
19    78
20    78
21    73
22    75
23    68
24    72
25    74
26    58
27    68
28    75
29    74
Name: Peso (kg), dtype: int64

> ### **Acessando diversas colunas do dataframe**

Dessa segunda forma é possível acessar diversas colunas do dataframe ao mesmo tempo, passando entre chaves uma **lista** com o nome das colunas desejadas.<div>

 É importante ressaltar que listas também são definidas com chaves, por essa razão na primeira forma de utilização, encontram-se dois conjuntos de chaves.<div>

 A segunda forma de utilizar é definindo a lista de colunas antes. Isso é útil quando se deseja acessar as mesmas colunas repetidamente.



**Utilização:** <div>

1:  
**nome_do_dataframe[["nome_da_coluna1", "nome_da_coluna2"]]**

2:  
**lista = ["nome_da_coluna1", "nome_da_coluna2"]** <div>
**nome_do_dataframe[lista]**



Exemplo:
     dados["Unidade da Federação","Total"]

In [ ]:
#Acessando os dados do primeiro semestre de 2008 por unidade da federação

#Acessando os dados
dados[["Posição", "Peso (kg)"]]

           Posição  Peso (kg)
0   Outside Hitter         78
1           Setter         68
2   Outside Hitter         65
3         Opposite         84
4         Opposite         70
5   Outside Hitter         68
6   Outside Hitter         75
7   Outside Hitter         65
8         Opposite         77
9   Outside Hitter         83
10          Libero         55
11  Outside Hitter         78
12        Opposite         76
13          Libero         60
14  Middle-blocker         81
15        Opposite         75
16  Middle-blocker         68
17  Middle-blocker         62
18  Middle-blocker         83
19  Middle-blocker         78
20  Middle-blocker         78
21  Middle-blocker         73
22        Opposite         75
23          Setter         68
24  Outside Hitter         72
25  Middle-blocker         74
26  Outside Hitter         58
27          Setter         68
28  Middle-blocker         75
29  Outside Hitter         74


> ## **Alterando o indice**<div>
Permite utilizar uma das colunas existentes como indice do dataframe. Ainda é possível deletar a coluna que assumirá o indice, verificar se há indices duplicados com **verify_integrity**.
 Para mais informações: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.set_index.html

**Utilização:** <div>

**nome_do_dataframe.set_index(Nome da coluna)**

Exemplo:
     dados.set_index('matricula')

In [ ]:
dados1 = dados.set_index('Nome', drop = True)

In [ ]:
dados1

,Ranking Geral,Ranking em 2020,Nacionalidade,Posição,Data de Nascimento,Altura (cm),Peso (kg),Salto (cm),Bloqueio (cm),Mão Dominante,Pontos do país,Pontos
Nome,,,,,,,,,,,,
Ting Zhu,3,23,China,Outside Hitter,1994-11-29,198,78,327,305,Right,320.0,1190.00
Macris Carneiro,176,19,Brazil,Setter,1989-03-03,178,68,292,285,NaN,220.0,833.00
Gabriela GuimarÃ£es,31,13,Brazil,Outside Hitter,1994-05-19,180,65,305,289,Right,220.0,788.00
Tijana BoÅ¡koviÄ,28,3,Serbia,Opposite,1997-03-08,194,84,329,310,Left,252.0,630.50
Paola Egonu,134,2,Italy,Opposite,1998-12-18,190,70,336,315,Right,165.0,597.00
Bethania De La Cruz,23,25,Dominican Republic,Outside Hitter,1987-05-13,188,68,315,310,Right,108.0,593.60
Kelsey Robinson,180,0,USA,Outside Hitter,1992-06-25,188,75,306,300,Right,0,573.00
Mayu Ishikawa,1601,1668,Japan,Outside Hitter,2000-05-14,173,65,300,290,Right,190.0,553.25
Andrea Drews,621,14,USA,Opposite,1993-12-25,191,77,316,312,Left,0,540.20
Brayelin MartÃ­nez,83,0,Dominican Republic,Outside Hitter,1996-09-11,201,83,330,320,Right,108.0,538.10
Simge Åebnem AkÃ¶z,405,4,Turkey,Libero,1991-04-23,168,55,250,245,NaN,72.0,471.00
Yingying Li,511,75,China,Outside Hitter,2000-02-19,192,78,312,300,Right,320.0,459.00
Melissa Vargas,562,0,Cuba,Opposite,1999-10-16,194,76,320,310,Right,30.0,447.00
LÃ©ia Nicolosi,187,19,Brazil,Libero,1985-03-01,168,60,268,257,NaN,220.0,425.50
Mara LeÃ£o,229,357,Brazil,Middle-blocker,1991-07-26,192,81,310,297,Right,220.0,425.50
Karsta Lowe,718,1081,USA,Opposite,1993-02-02,196,75,315,305,Left,0,417.00
Jineiry Martinez,677,0,Dominican Republic,Middle-blocker,1997-12-03,190,68,305,280,Right,108.0,416.10
Mayany Souza,1211,257,Brazil,Middle-blocker,1996-11-24,185,62,293,282,Right,220.0,405.50
TeTori Dixon,329,1081,USA,Middle-blocker,1992-08-04,191,83,306,295,Right,0,404.00
Irina Koroleva,119,10,Russia,Middle-blocker,1991-10-04,196,78,315,305,Right,208.0,401.20
Caroline Gattaz,48,19,Brazil,Middle-blocker,1981-07-27,192,78,315,299,Right,220.0,400.00
Ana Carolina Silva,51,6,Brazil,Middle-blocker,1991-04-08,183,73,316,309,Right,220.0,374.50
Nataliya Goncharova,34,235,"Russia, Ukraine",Opposite,1989-06-01,196,75,321,310,Right,0,373.00
Maja OgnjenoviÄ,58,273,Serbia,Setter,1984-08-06,183,68,300,293,Right,252.0,371.00
Ebrar Karakurt,459,24,Turkey,Outside Hitter,2000-01-17,194,72,307,305,Right,72.0,368.00
Eda Erdem DÃ¼ndar,57,0,Turkey,Middle-blocker,1987-06-22,188,74,315,302,Right,72.0,367.00
Samantha Bricio,598,1837,Mexico,Outside Hitter,1994-11-22,188,58,302,283,Right,35.0,360.00
Micha Hancock,389,219,USA,Setter,1992-11-10,177,68,289,283,Right,0,358.30
Yuanyuan Wang,981,75,China,Middle-blocker,1997-07-14,195,75,312,300,Right,320.0,351.00
Jordan Larson-Burbach,32,650,USA,Outside Hitter,1986-10-16,186,74,302,295,Right,0,345.00

## **Filtros ou Seleção condicional**<div>

Com o Pandas, podemos facilmente obter recortes dos dados e filtrar apenas a informação necessárias. Vejamos algumas formas de fazer isso:

In [ ]:
dados.head()

,Nome,Ranking Geral,Ranking em 2020,Nacionalidade,Posição,Data de Nascimento,Altura (cm),Peso (kg),Salto (cm),Bloqueio (cm),Mão Dominante,Pontos do país,Pontos
0,Ting Zhu,3,23,China,Outside Hitter,1994-11-29,198,78,327,305,Right,320.0,1190.0
1,Macris Carneiro,176,19,Brazil,Setter,1989-03-03,178,68,292,285,NaN,220.0,833.0
2,Gabriela GuimarÃ£es,31,13,Brazil,Outside Hitter,1994-05-19,180,65,305,289,Right,220.0,788.0
3,Tijana BoÅ¡koviÄ,28,3,Serbia,Opposite,1997-03-08,194,84,329,310,Left,252.0,630.5
4,Paola Egonu,134,2,Italy,Opposite,1998-12-18,190,70,336,315,Right,165.0,597.0

### **loc** <div>
.loc permite o acesso de um grupo de linhas ou colunas através de um label ou de um vetor boleano.
**df.loc[<linhas>, <colunas>]**

Exemplo:
     dados.loc[dados.idade > 23]

### **iloc**

Funciona de maneira semelhante, mas o indexador são números inteiros referente aos indices do registro.

*Quando nenhum item é encontrado pelo loc, ele retorna um KeyError.*

In [ ]:
dados["Peso (kg)"]>70

0      True
1     False
2     False
3      True
4     False
5     False
6      True
7     False
8      True
9      True
10    False
11     True
12     True
13    False
14     True
15     True
16    False
17    False
18     True
19     True
20     True
21     True
22     True
23    False
24     True
25     True
26    False
27    False
28     True
29     True
Name: Peso (kg), dtype: bool

In [ ]:
dados.loc[dados["Peso (kg)"]>70]#["Nome"]

,Nome,Ranking Geral,Ranking em 2020,Nacionalidade,Posição,Data de Nascimento,Altura (cm),Peso (kg),Salto (cm),Bloqueio (cm),Mão Dominante,Pontos do país,Pontos
0,Ting Zhu,3,23,China,Outside Hitter,1994-11-29,198,78,327,305,Right,320.0,1190.0
3,Tijana BoÅ¡koviÄ,28,3,Serbia,Opposite,1997-03-08,194,84,329,310,Left,252.0,630.5
6,Kelsey Robinson,180,0,USA,Outside Hitter,1992-06-25,188,75,306,300,Right,0,573.0
8,Andrea Drews,621,14,USA,Opposite,1993-12-25,191,77,316,312,Left,0,540.2
9,Brayelin MartÃ­nez,83,0,Dominican Republic,Outside Hitter,1996-09-11,201,83,330,320,Right,108.0,538.1
11,Yingying Li,511,75,China,Outside Hitter,2000-02-19,192,78,312,300,Right,320.0,459.0
12,Melissa Vargas,562,0,Cuba,Opposite,1999-10-16,194,76,320,310,Right,30.0,447.0
14,Mara LeÃ£o,229,357,Brazil,Middle-blocker,1991-07-26,192,81,310,297,Right,220.0,425.5
15,Karsta Lowe,718,1081,USA,Opposite,1993-02-02,196,75,315,305,Left,0,417.0
18,TeTori Dixon,329,1081,USA,Middle-blocker,1992-08-04,191,83,306,295,Right,0,404.0
19,Irina Koroleva,119,10,Russia,Middle-blocker,1991-10-04,196,78,315,305,Right,208.0,401.2
20,Caroline Gattaz,48,19,Brazil,Middle-blocker,1981-07-27,192,78,315,299,Right,220.0,400.0
21,Ana Carolina Silva,51,6,Brazil,Middle-blocker,1991-04-08,183,73,316,309,Right,220.0,374.5
22,Nataliya Goncharova,34,235,"Russia, Ukraine",Opposite,1989-06-01,196,75,321,310,Right,0,373.0
24,Ebrar Karakurt,459,24,Turkey,Outside Hitter,2000-01-17,194,72,307,305,Right,72.0,368.0
25,Eda Erdem DÃ¼ndar,57,0,Turkey,Middle-blocker,1987-06-22,188,74,315,302,Right,72.0,367.0
28,Yuanyuan Wang,981,75,China,Middle-blocker,1997-07-14,195,75,312,300,Right,320.0,351.0
29,Jordan Larson-Burbach,32,650,USA,Outside Hitter,1986-10-16,186,74,302,295,Right,0,345.0

Operador lógico "&"

In [ ]:
dados.loc[(dados["Peso (kg)"]>70) & (dados["Altura (cm)"]>190)]

,Nome,Ranking Geral,Ranking em 2020,Nacionalidade,Posição,Data de Nascimento,Altura (cm),Peso (kg),Salto (cm),Bloqueio (cm),Mão Dominante,Pontos do país,Pontos
0,Ting Zhu,3,23,China,Outside Hitter,1994-11-29,198,78,327,305,Right,320.0,1190.0
3,Tijana BoÅ¡koviÄ,28,3,Serbia,Opposite,1997-03-08,194,84,329,310,Left,252.0,630.5
8,Andrea Drews,621,14,USA,Opposite,1993-12-25,191,77,316,312,Left,0,540.2
9,Brayelin MartÃ­nez,83,0,Dominican Republic,Outside Hitter,1996-09-11,201,83,330,320,Right,108.0,538.1
11,Yingying Li,511,75,China,Outside Hitter,2000-02-19,192,78,312,300,Right,320.0,459.0
12,Melissa Vargas,562,0,Cuba,Opposite,1999-10-16,194,76,320,310,Right,30.0,447.0
14,Mara LeÃ£o,229,357,Brazil,Middle-blocker,1991-07-26,192,81,310,297,Right,220.0,425.5
15,Karsta Lowe,718,1081,USA,Opposite,1993-02-02,196,75,315,305,Left,0,417.0
18,TeTori Dixon,329,1081,USA,Middle-blocker,1992-08-04,191,83,306,295,Right,0,404.0
19,Irina Koroleva,119,10,Russia,Middle-blocker,1991-10-04,196,78,315,305,Right,208.0,401.2
20,Caroline Gattaz,48,19,Brazil,Middle-blocker,1981-07-27,192,78,315,299,Right,220.0,400.0
22,Nataliya Goncharova,34,235,"Russia, Ukraine",Opposite,1989-06-01,196,75,321,310,Right,0,373.0
24,Ebrar Karakurt,459,24,Turkey,Outside Hitter,2000-01-17,194,72,307,305,Right,72.0,368.0
28,Yuanyuan Wang,981,75,China,Middle-blocker,1997-07-14,195,75,312,300,Right,320.0,351.0

Operador lógico "ou" = |

In [ ]:
dados.loc[(dados["Peso (kg)"]>70) | (dados["Altura (cm)"]>190)]

,Nome,Ranking Geral,Ranking em 2020,Nacionalidade,Posição,Data de Nascimento,Altura (cm),Peso (kg),Salto (cm),Bloqueio (cm),Mão Dominante,Pontos do país,Pontos
0,Ting Zhu,3,23,China,Outside Hitter,1994-11-29,198,78,327,305,Right,320.0,1190.0
3,Tijana BoÅ¡koviÄ,28,3,Serbia,Opposite,1997-03-08,194,84,329,310,Left,252.0,630.5
6,Kelsey Robinson,180,0,USA,Outside Hitter,1992-06-25,188,75,306,300,Right,0,573.0
8,Andrea Drews,621,14,USA,Opposite,1993-12-25,191,77,316,312,Left,0,540.2
9,Brayelin MartÃ­nez,83,0,Dominican Republic,Outside Hitter,1996-09-11,201,83,330,320,Right,108.0,538.1
11,Yingying Li,511,75,China,Outside Hitter,2000-02-19,192,78,312,300,Right,320.0,459.0
12,Melissa Vargas,562,0,Cuba,Opposite,1999-10-16,194,76,320,310,Right,30.0,447.0
14,Mara LeÃ£o,229,357,Brazil,Middle-blocker,1991-07-26,192,81,310,297,Right,220.0,425.5
15,Karsta Lowe,718,1081,USA,Opposite,1993-02-02,196,75,315,305,Left,0,417.0
18,TeTori Dixon,329,1081,USA,Middle-blocker,1992-08-04,191,83,306,295,Right,0,404.0
19,Irina Koroleva,119,10,Russia,Middle-blocker,1991-10-04,196,78,315,305,Right,208.0,401.2
20,Caroline Gattaz,48,19,Brazil,Middle-blocker,1981-07-27,192,78,315,299,Right,220.0,400.0
21,Ana Carolina Silva,51,6,Brazil,Middle-blocker,1991-04-08,183,73,316,309,Right,220.0,374.5
22,Nataliya Goncharova,34,235,"Russia, Ukraine",Opposite,1989-06-01,196,75,321,310,Right,0,373.0
24,Ebrar Karakurt,459,24,Turkey,Outside Hitter,2000-01-17,194,72,307,305,Right,72.0,368.0
25,Eda Erdem DÃ¼ndar,57,0,Turkey,Middle-blocker,1987-06-22,188,74,315,302,Right,72.0,367.0
28,Yuanyuan Wang,981,75,China,Middle-blocker,1997-07-14,195,75,312,300,Right,320.0,351.0
29,Jordan Larson-Burbach,32,650,USA,Outside Hitter,1986-10-16,186,74,302,295,Right,0,345.0

## **Média de colunas**

Para calcular a média de uma coluna sem o Pandas, seria necessário varrer linha a linha com alguma estrutura de repetição e somar cada um dos valores e em seguida, dividir pelo total de colunas. Com o Pandas basta utilizar o método **mean**, que permite não só obter a média de uma coluna, mas de várias ou até de todas as colunas do dataframe que possuem valores numéricos.


**Utilização:** <div>

1:  
**nome_do_dataframe[["nome_da_coluna1", "nome_da_coluna2"]].mean()**

2:  
**lista = ["nome_da_coluna1", "nome_da_coluna2"]** 

**nome_do_dataframe[lista].mean()**

3:

**nome_do_dataframe.mean()**



Exemplo:
     dados["Total"].mean()

> *Uma observação importante sobre valores númericos:<div> É possível que valores visualmente númericos podem ser strings, ou seja, letras, e isso se dá por uma série de motivos, um deles foi abordado no [notebook anterior](https://colab.research.google.com/drive/1Cd_udAOr30z2Ah6JKeUT6t3xGcV-JWlg?usp=sharing). Uma outra dica para quando isso ocorrer, é olhar a função [.to_numeric](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_numeric.html) do Pandas.*

In [ ]:
#Calculando a média de um mês
dados["Peso (kg)"].mean()

72.13333333333334

In [ ]:
#Calculando a média de todos os valores numéricos do dataframe

dados.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  This is separate from the ipykernel package so we can avoid doing imports until

Ranking Geral      351.166667
Ranking em 2020    266.300000
Altura (cm)        187.833333
Peso (kg)           72.133333
Salto (cm)         307.633333
Bloqueio (cm)      296.366667
Pontos             492.541667
dtype: float64

## Describe

Retorna uma descrição estatítica do dataframe, incluindo média, desvio padrão, entre outras informações, desconsiderando os valores não preenchidos.


**nome_do_dataframe.describe**

Exemplo:
     dados.describe <div>

In [ ]:
dados.head(3)

,Nome,Ranking Geral,Ranking em 2020,Nacionalidade,Posição,Data de Nascimento,Altura (cm),Peso (kg),Salto (cm),Bloqueio (cm),Mão Dominante,Pontos do país,Pontos
0,Ting Zhu,3,23,China,Outside Hitter,1994-11-29,198,78,327,305,Right,320.0,1190.0
1,Macris Carneiro,176,19,Brazil,Setter,1989-03-03,178,68,292,285,NaN,220.0,833.0
2,Gabriela GuimarÃ£es,31,13,Brazil,Outside Hitter,1994-05-19,180,65,305,289,Right,220.0,788.0

In [ ]:
dados.describe()

,Ranking Geral,Ranking em 2020,Altura (cm),Peso (kg),Salto (cm),Bloqueio (cm),Pontos
count,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000
mean,351.166667,266.300000,187.833333,72.133333,307.633333,296.366667,492.541667
std,390.695497,497.398415,8.436715,7.445125,17.440506,16.283021,181.231626
min,3.000000,0.000000,168.000000,55.000000,250.000000,245.000000,345.000000
25%,52.500000,4.500000,183.500000,68.000000,302.000000,289.250000,373.375000
50%,183.500000,21.000000,190.000000,74.000000,311.000000,300.000000,421.250000
75%,549.250000,251.500000,194.000000,77.750000,315.750000,308.000000,549.987500
max,1601.000000,1837.000000,201.000000,84.000000,336.000000,320.000000,1190.000000

## Value counts

Retorna uma série com a quantidade de aparições de cada valor/item.


**nome_do_dataframe.value_counts()**

Exemplo:
     dados.idade.value_counts() <div>

In [ ]:
dados["Mão Dominante"].value_counts()

Right    24
Left      3
Name: Mão Dominante, dtype: int64

## Unique

Retorna quais os valores únicos presentes na série.


**nome_do_dataframe.unique()**

Exemplo:
     dados.curso.unique() <div>

In [ ]:
dados["Mão Dominante"].unique()

array(['Right', nan, 'Left'], dtype=object)

#**Clonagem do GitHub**

Nesse espaço eu ensinarei como fazemos a clonagem do nosso notebook do Google Colab com o [GitHub](https://github.com/)

1 - Inicialmente devemos abrir o GitHub e logar a nossa conta.<p>
2 - Em seguida faremos a criação de um repositório (local onde arquivaremos/guardaremos nossos notebooks durante o semestre) no GitHub<p>
3 - Faremos a "clonagem" do nosso notebook no GitHub.